.container {
   max-width: 1200px;
   margin: 0px auto;
}
.lista-filmes {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 1rem;
   margin-top: 1.5rem;
}

.loading {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 14px;
}

.lista-filmes article {
   width: 100%;
   background-color: #fff;
   padding: 0px 0px 10px 0px;
   border-radius: 5px;
}
.movie-info{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   gap: 1rem;
   padding: 10px 13px;
}
.lista-filmes strong {
   text-align: center;
   font-size: 1rem;
   display: block;
}

.lista-filmes img {
   width: 100%;
   max-height: 210px;
   object-fit: cover;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
}

.lista-filmes a {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 8px;
   font-size: 1.2rem;
   background-color: #116feb;
   color: white;
   text-decoration: none;
   border-radius: 7px;
}